# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://finalprojects509_db_user:Blackshadow8080800821@cluster0.7cz0huk.mongodb.net/?appName=Cluster0

# JWT secret — use a long random string in production
JWT_SECRET=replace_with_a_long_random_secret

# Cloudinary credentials (from cloudinary.com dashboard)
CLOUDINARY_CLOUD_NAME=dt19mtg5o
CLOUDINARY_API_KEY=733164136413739
CLOUDINARY_API_SECRET=wAi0jszPZ9D9MweR2OquTBukI1E

# Redis URL (Railway provides this automatically)
REDIS_URL=redis://127.0.0.1:6379

# Port (Railway sets this automatically)
PORT=5000

# Angular app URL (used for CORS)
CLIENT_URL=http://localhost:4200
