html, body {
  height: 100%;
  margin: 0;
}

/* We have to tell Angular's custom tag to behave like a flex column too! */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.wrapper {
  flex: 1;
}